<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2017 Intelligent Robotics Group, NASA ARC
  -->
<Configuration status="WARN">
      <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="gov.nasa.arc.astrobee" level="debug" />
        <Logger name="org.ros" level="info" />
        <Logger name="org.stemx.arc.astrobee.rpc" level="info" />
        <Root level="warn">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
       <!-- <Appenders>
        <File name="LogToFile" fileName="/home/simulator/logs/sim_activities.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="org.stemx.arc.astrobee.rpc" level="debug" additivity="false">
            <AppenderRef ref="LogToFile"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="LogToFile"/>
        </Root>
    </Loggers> -->
</Configuration>
